# File extensions
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root


# Don't ignore these files from eic_SF/intro_slides/
!EICMC_Overview.pdf
!EICPlot_Overview.pdf
!EICDocker_Overview.pdf

# GEMC stuff
*.txt
*.dat
*.evio
*.ev

# large files
*.root
*.npz

# sym link
EIC_talks