*.png
*.pdf

# Don't ignore these files from eic_SF/intro_slides/
!EICMC_Overview.pdf
!EICPlot_Overview.pdf
!EICDocker_Overview.pdf

# Don't ignore OUTPUTS/ directory
!OUTPUTS

# GEMC stuff
*.txt
*.dat
*.evio
*.ev

# large files
*.root
*.npz

# sym link
EIC_talks